<a class="skip-link" href="#main-content">Skip to content</a>
<header role="banner" class="[ site-head ] [ pad-top-700 pad-bottom-700 ">
  <div class="wrapper">
    <div class="[ site-head__inner ] [ md:box-flex space-between align-center ]">
      <a href="/" class="[ site-head__site-name ] [ box-flex align-center leading-tight ]">
        <img src="/images/favicon.png" alt="{{ site.name }} logo" class="w-0.5 h-0.5 object-contain" loading="lazy" style="float:left; margin-right: 0px; "/>
        <div class="visually-hidden">{{ site.name }} - Home</div>
        <div class="[ site-head__site-name ] [ text-550 ]" aria-hidden="true">{{ site.name }}</div>
      </a>
      {% set ariaLabel = 'navigation' %}
      {% include "partials/components/nav.njk" %}
    </div>
  </div>
</header>





