{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}
  {# The secondBody is part of the FrontMatter, and isn't markdown-ified by eleventy. So we put it through a markdown filter. #}
  {{ subtitle | markdownFilter | safe }}
{% endset %}


{% block content %}
  <main id="main-content" tabindex="-1">
    {% include "partials/components/intro.njk" %}
    {# Second Body #}
    <div class="[ post__body ] [ inner-wrapper ] [ leading-loose pad-top-900 pad-bottom-900 text-500 ] [ sf-flow ] [ e-content ]">
      {{ content | safe }}
    </div>
    {% include "partials/components/post-list.njk" %}
    {% include "partials/components/pagination.njk" %}
  </main>
{% endblock %}
